<div id="<%= dom_id car %>">
  <p>
    <strong>Mfg Company:</strong>
    <%= car.mfg_company %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.car_model %>
  </p>

  <p>
    <strong>Horse Power(nM):</strong>
    <%= car.horse_power %>
  </p>

  <p>
    <strong>Top Speed(km/hr):</strong>
    <%= car.top_speed %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.mfg_year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.car_description %>
  </p>

</div>